<form ng-hide="session.uid">
    <label>email :</label>
    <input ng-model="user.email" type="email" name="email">
    <input ng-model="user.password" type="password" name="password">
    <button ng-click="auth(user)">login</button>
</form>
<a ng-show="session.uid" href="#/" ng-click="logout()">logout</a>
<a href="#/create-user">Create new user</a>
<ul>
    <li><a href="#/">index</a></li>
    <li><a href="#/items">items</a></li>
    <li><a href="#/items/new">create item</a></li>
    <li><a href="#/categories">categories</a></li>
    <li><a href="#/categories/new">create category</a></li>
</ul>